# Dependencies et cache
node_modules
.npm

# Git
.git
.gitignore

# Environnements
.env.dev
.env.development
.env.test
.env*.local

# Next.js / React build outputs
.next
out/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / outils
.vscode
.idea

# Documentation et fichiers non nécessaires en image
README.md
LICENSE
CHANGELOG.md
