@font-face {
    font-family: "Sentient Regular";   /*Can be any text*/
    src: local("Sentient"),
      url("./assets/fonts/Sentient-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Sentient Medium";   /*Can be any text*/
    src: local("Sentient"),
      url("./assets/fonts/Sentient-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Sentient Light";   /*Can be any text*/
    src: local("Sentient"),
      url("./assets/fonts/Sentient-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Sentient Extrat-Light";   /*Can be any text*/
    src: local("Sentient"),
      url("./assets/fonts/Sentient-Extralight.ttf") format("truetype");
  }
  @font-face {
    font-family: "Sentient Bold";   /*Can be any text*/
    src: local("Sentient"),
      url("./assets/fonts/Sentient-Bold.ttf") format("truetype");
  }